{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
<ul class="items">
	{% for artist in artists %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ artist.name }}</h5>
		</a>
		<a href="/artists/{{ artist.id }}/edit"><button type="button" class="btn btn-primary btn-sm">Update</button></a>
		<a href="/artists/{{ artist.id }}/delete"><button type="button"
				class="btn btn-danger btn-sm">Delete</button></a>
		</div>
	</li>
	{% endfor %}
</ul>
{% endblock %}